<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile colspan="2" rowspan="4">
    <img matTooltip="ceramic1" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic1.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="4">
    <img matTooltip="ceramic2" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic2.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <img matTooltip="ceramic16" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic16.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2">
    <img matTooltip="ceramic4" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic4.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <img matTooltip="ceramic5" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic5.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2">
    <img matTooltip="ceramic6" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic6.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <img matTooltip="ceramic7" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic7.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="4">
    <img matTooltip="ceramic8" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic8.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="4">
    <img matTooltip="ceramic9" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic9.jpg">
  </mat-grid-tile>      

  <mat-grid-tile colspan="2" rowspan="4">
    <img matTooltip="ceramic10" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic10.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="4">
    <img matTooltip="ceramic13" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic13.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="4">
    <img matTooltip="ceramic14" matTooltipPosition="above" class="painting-img" src="/assets/ceramic/ceramic14.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="4">
    <img matTooltipPosition="above" matTooltip="ceramic15" class="painting-img" src="/assets/ceramic/ceramic15.jpg">
  </mat-grid-tile>

</mat-grid-list>
