<div id="hello-name">
	<div [@bionameupAnimation]='nameState' (click)="nameUpDown()" class="bio-name-up" id="nihao">
		Abby
	</div>

	<div [@bionamedownAnimation]='nameState' (click)="nameUpDown()" class="bio-name-down" id="wo">likes
	</div>

	<div [@bionameupAnimation]='nameState' (click)="nameUpDown()" class="bio-name-up" id="shi">building
	</div>

	<div [@bionamedownAnimation]='nameState' (click)="nameUpDown()" class="bio-name-down" id="zhang">artwork
	</div>

	<div [@bionameupAnimation]='nameState' (click)="nameUpDown()" class="bio-name-up" id="bi">and
	</div>

	<div [@bionamedownAnimation]='nameState' (click)="nameUpDown()" class="bio-name-down" id="ying">software
	</div> 
</div>

<div class="bioimgbg"><div class="hello-there">hello there</div><img class="bio-img" [@bioimgAnimation]='imgState' (click)="imgInOut()" src="/assets/painting/detail9.png"></div>

<div class="statement">
  <p [@leftrightAnimation]='statementState' (click)="statementActive()" id="paintingStatement" [@StatementAnimation]='statementState' (click)="statementActive()" >
  	My art work is intended to encourage discussion about
		the relationship between individuals and their physical environment. </p>

  <p class="second-statement" [@rightleftAnimation]='statementState' (click)="statementActive()" id="paintingStatement">Does our
		place of habitation shape our state of being? I continually explore the
		intersection of comfort, despair, place, and purpose. 
		<!-- Ultimately, I hope the
		audience will find resonances of their own experience, values, and sense of
		belonging within my work. I hope my work can be a starting point for discussion
		about who we are and how we fit into a world that is both hopeful and alien. The
		audience is free to analyze and draw their own conclusions. -->
  </p>
<!-- <p>
	Zhang was born in Guangzhou, China in 1984. She received her BFA from the Central Academy of Fine Arts in Beijing, and her MFA from the School of the Museum of Fine Arts, Boston. Zhang is a painter and also works in film/video, sound art and mixed media. Zhang's work has been widely exhibited internationally at the Museum of Fine Arts, Boston, the National Art Museum of China, the Beijing International Art Biennial, the Art In Embassies Program, and in film festivals, galleries and at various special events. I have been awarded a fellowship at the Jentel Residency, a scholarship from Harvard University, the Karsh Prize in photography, and other scholarships from S.M.F.A. Boston and The Central Academy of Fine Art, China. Zhang lives and works in California.
  <!-- <br><i class="material-icons">arrow_downward</i> -->
  <!-- </p> -->  
</div>


<div class="bioimgbg">
	<img class="aboutimg" [@bioimgAnimation]='imgState' (click)="imgInOut()" src="/assets/painting/detail11.jpg"> 
	<img class="aboutimg" [@bioimgAnimation]='imgState' (click)="imgInOut()" src="/assets/painting/detail7.png">
</div>

<div>
  <section [@cvAnimation]='cvState' (click)="cvActive()" id="about-content">
  	<section class="about-section">
  	  <div class="section-title">Education</div>
	    <div class="section-text">
		  	<div class="year">
					<p>Master of Fine Arts</p>
					<p class="schools">The School of the Museum of Fine Arts, Boston in affiliation with Tufts University</p>
					<p>Bachelor of Fine Arts</p>
					<p class="schools">Central Academy of Fine Arts, Beijing, China</p>
				</div>
  	  </div>
  	</section>

  	<section class="about-section">
	  	<div class="section-title">Awards</div>
		  <div class="section-text">
		  	<div class="year">
		  	  <p>Fellow and Artist in Residence, Jentel Artist Residency Program, Banner, Wyoming, 2013 
		  		<br>Third Prize - Karsh Prize in Photography, 2010
		  		<br>Mima Weissmann Memorial Fund for the Study of Ceramic Arts, Office for the Arts at Harvard, 2009
		  		<br>Dean's Discretionary Fund Project Grant SMFA, Boston, 2008, 2009
		  		<br>First Prize - Student Annual, Central Academy of Fine Arts Beijing, China, 2005
		  	  </p>
		  	</div>
			</div>
  	</section>

  	<section class="about-section">
	  	<div class="section-title">Solo Exhibition</div>
	  	<div class="section-text">
	  		<div class="year">
					<p>2013</p>
					<p>Alienation. Beyond Art Space, Beijing, China 
				  <br>Alienation. Acton Memorial Library, Acton, MA, US 
					<br>Alienation. LaGuardia Community College of New York University, Long Island City, NY, US 
					</p>
				</div>

	  		<div class="year">
					<p>2012</p>
					<p>Alienation. Newton Free Library, Newton, MA, US</p>
				</div>
			</div>
  	</section>

  	<section class="about-section">
	  	<div class="section-title">Group Exhibition</div>
	  	<div class="section-text">
	  		<div class="year">
	  	  	<p>2013</p>
					<p class="shows">Projection 2013. The Longwood Center of the Visual Arts, Farmville, VA, USA
					<br>Kinetic Conceptions. Kinetic Gallery, SUNY Geneseo, New York, US
					<br>Urban Jungle. The Other Gallery, Shanghai, China 
					<br>17 Days, (VOL.6). Gwen Frostic School of Art, Western Michigan University, Kalamazoo, MI, US
					<br>Print Show. Dows Fine Arts Center, Coe College, Iowa, US
					<br>Young Artists Group Show. Hi Art Store, Beijing, China
					</p>
				</div>

				<div class="year">
					<p>2012</p>
					<p class="shows">The 5th Beijing International Art Biennial. China's National Museum of Fine Arts, Beijing, China
					<br>Facing East. Mill Fine Art Gallery, Santa Fe, New Mexico, US
					<br>Innovation. Dowd Gallery, The State University of New York, Cortland, NY, US
					<br>The Transformative Power of Art. The Doric Hall, The Statehouse, Boston, MA, US 
					<br>Beijing Art Expo 2012, Beijing, China
					<br>Human Frames Cycle. Werkstatt der Kulturen, Berlin, Germany 
					<br>The Artist's Voice. The Resnikoff Gallery, Roxbury Community College, Boston, MA, US
				</div>

				<div class="year">
					<p>2011</p>
					<p class="shows">The New Media Exhibition. Boston City Hall, Boston, MA, US
				  <br>Summer Party Silent Art Auction. Museum of Fine Arts, Boston, MA, US
				  <br>Film and Animation Annual. Remis Auditorium, Museum of Fine Arts Boston, MA, US
				  <br>The Human Frames Cycle. KIT Kunst-im-Tunnel Museum, Düsseldorf, Germany
				  <br>Urban Grids. 567 Gallery, West Village, New York City, NY, US
				  <br>New Talent. Exhibition at Alpha Gallery, Boston, MA, US
				  <br>Konnektor - Forum für Künste Kötnerholzweg 11, Hannover, Germany
				  <br>GLOVEBOX Short Film and Animation Festival. Somerville Theatre, MA, US
				  <br>Looking Both Ways. Eastern Michigan University, MI, US
 					<br>The CAZ Project. Exchange Gallery, Penzance, Cornwall, UK
 					<br>Paterson Art Walk. Paterson Arts Council of Paterson, New Jersey, US
 					<br>JC Fridays. Jersey City, NJ, US
 					<br>Direct Action. Institut für Alles Mögliche (I-A-M), Berlin, Germany
 					<br>Trashed. Walsh Gallery, Seton Hall University, South Orange, NJ, US
 					<br>A Taste of Boston. Boston University, 808 Gallery, Boston, MA, US
 					<br>Cologne OFF. VAUfest, Ukraine
 					<br>Film at the Gate. Boston Street Lab in Chinatown, Boston, MA, US
					</p>
				</div>

	  		<div class="year">
					<p>2010</p>
					<p class="shows">Sanctioned Array. White Box Gallery, NY, US
					<br>Death Does the Popsicle. GASP Gallery, Brookline, MA, US
					<br>Process Impact. Eagle Art Gallery, Murray State University, Murray, KY, US
					<br>Urban Realities. 6th Pixel Pops Digital Art Exhibit. Outdoor locations across the New York/New Jersey metropolitan area, US
					<br>5th Annual Student Show. Rubin-Frankel Gallery at Boston University Hillel Center, Boston, MA, US
					<br>The Light Cube Video and Film Festival. Visual Voice Gallery, Montreal, Canada
					<br>The 23rd Festival Les Instants Video. France, Italia, Czech Republic, Syria, Egypt, Ukraine
					<br>UN. Sharpness of the Documentary. The Kunstfilmtag, Dusseldorf, Germany
					<br>Asian Hot Shots Festival. Berlin, Germany
					<br>The Super 8 Film Festival. Detours. Santorini, Greece
					<br>Videoholica International Video Art Festival. Varna, Bulgaria
					<br>Art Student Exhibition. ISE Cultural Foundation, NY, US
					<br>6th Cologne OFF VI Festival. Cologne, Germany
					<br>Transfera TV & Madatac Festival. The Open Festival of Contemporary Audio-Visual Art, Madrid, Spain
					<br>Art Is Not About Communication. Nictoglobe, Vol.14#1, Amsterdam, Netherlands
					<br>Non Text/Short Film. 5th Issue Itch magazine, Woodstock, South Africa
					<br>Video Art International Festival. Camaguey, Cuba
					</p>
				</div>

	  		<div class="year">
					<p>2009</p>
					<p class="shows">ART In Embassies Program. Ambassador’s Residence, Caracas, Venezuela
					<br>No Limits Film Festival. c/o Sheffield University Students' Union, Western Bank, Sheffield, UK
					<br>CONSTELLATIONS Project. The Metro Arts Gallery, City Center of Brisbane, Australia
					<br>Extinction. The Brush Art Gallery & Studios. Lowell, MA, US
					<br>Grandma. The Embassy Gallery, Roxy Art House, 2 Roxburgh Pl, Edinburgh, UK
					<br>December Show. Bukowski Tavern, Cambridge, MA, US
					<br>The Norfolk NYC Gallery, New York, NY, US
					<br>The True Art Gallery, Needham, MA, US
					<br>Mind is a Beautiful Beast. Medicine Wheel Gallery, Boston, MA, US
					<br>The 4th Student Show. Rubin-Frankel Gallery, Boston University Hillel Center, Boston, MA, US
					</p>
				</div>

	  		<div class="year">
					<p>2008</p>
					<p class="shows">The Inside Out Sale. School of the Museum of Fine Arts, Boston, MA, US
					<br>Graduation Show. Central Academy of Fine Arts, Beijing, China
  				</p> 
  			</div>
  		</div>
  	</section>

  	<section class="about-section">
  		<div class="section-title">Review</div>
  		<div class="section-text">
  			<div class="year">
					<p class="shows">
			  		<a href="http://www.wickedlocal.com/acton/features/x273429105/The-Beacon-July-3-2013#axzz2Y20kK06F">Art exhibit coming to Acton library</a> 
						<br><a href="http://www.boston.com/ae/theater_arts/articles/2011/06/29/sweeping_through_a_century_of_landscapes/">Sweeping through a century of landscapes</a>
						<br><a href="http://en.cafa.com.cn/beyond-art-space-presents-the-solo-exhibition-of-alienation-by-zhang-biying.html">Beyond Art Space presents the solo exhibition of “Alienation” by Zhang Biying</a>
						<br><a href="http://newton.wickedlocal.com/x1652301639/At-the-Newton-Free-Library">City Light: Familiar Landscapes with Alienation</a>
						<!-- <br><a href="http://art.state.gov/artistdetail.aspx?id=103240"></a> -->
						<br><a href="http://www.smfa.edu/files/Student-Annual-2010-press-release-FINAL.pdf">the 2010 Yousuf Karsh Prize in photography</a>
						<!-- <br><a href="http://www.nictoglobe.com/new/ainac2010/biying.html"></a> -->
						<!-- <br><a href="http://gsas.tufts.edu/about/news/newsArchives/Fall2011/studioArtExhibit.htm"></a> -->
						<!-- <br><a href="http://hframes.wordpress.com/tag/biying-zhang/"></a> -->
						<!-- <br><a href="http://www.millfineart.com/blog/2012/05/24/alienation-and-interaction-the-art-of-two- -->
						<!-- contemporary-chinese-artists/"></a> -->
						<!-- <br><a href="http://17days.wordpress.com/2013/02/01/biying-zhang/"></a> -->
						<br><a href="http://artgallery.tufts.edu/exhibitions/2011/thesisApril.htm">MFA Thesis Exhibition</a>
						<!-- <br><a href="http://bostonartists.blogspot.com/2011_04_01_archive.html"></a> --> 
						<!-- <br><a href="http://www.namoc.org/msg/zhanlan/zlzpklr/201211/t20121130_153886.html"></a> -->
						<br><a href="http://exhibit.artron.net/exhibition-20351.html">“异化”张碧莹个展</a>
						<br><a href="http://news.99ys.com/news/2013/0115/21_115355_1.shtml">迷城记</a>
						<br><a href="http://pekin.cervantes.es/FichasCultura/Ficha88283_64_27.htm">MADATAC新媒体艺术节</a>	   
		 		  </p>
		 		</div>
		  </div>
		</section>
  </section>
   
</div>