.hello-there {
  font-family: 'Raleway', sans-serif;
  padding:100px;
  font-size:100px;
  color:white;
  z-index: 0;  
  position: absolute;
  left:330px;
  /*background: rgba(27,25,25,0.98);*/
}

.bio-img {
  height: 467px;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

.bioimgbg {
  background: rgba(27,25,25,0.98);
}

.aboutimg {
  display: inline-block; 
  width: 49.4%;
  overflow: hidden;
}

#hello-name {
  left:50px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  margin-top: 200px;
  color:rgba(255,255,255,0.5);
  font-size: 110px;
  z-index: 5;
}

.bio-name-up {
  display: inline-block; 
}

.bio-name-down {
  display: inline-block;  
}


#nihao {
  /*font-size: 150px;*/
  /*top: -430px;*/
}

#wo {
  /*left: 406px;*/
  /*top: -425px;*/
}

#shi {
  /*left: 583px;*/
  /*top: -620px;*/
}

#zhang {
  /*left: 765px;*/
  /*top: -813px;*/
}

#bi {
  /*left: 936px;*/
  /*top: -1009px;*/
}

#ying {
  /*left: 1116px;*/
  /*top: -1200px;*/
}
 
.bio, .statement {
  background: rgba(27,25,25,0.98);
  color: white;
  font-family: 'Raleway', sans-serif;
}

.statement {
  letter-spacing: 1.5px;
  padding: 100px;
  /*padding: 100px 420px;*/
  font-weight: 300;
  line-height: 2;
  font-size: 23px;
}

.second-statement {
  letter-spacing: 1.2px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2;
}

.bio {
  padding: 30px 230px;
}

.about-section {
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  margin: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
  clear: both;
}

.section-title, .section-text {
  float: left;
}

.section-title {
  width: 30%;
}

.section-text {
  width: 70%;
  margin-top: -15px;
}

.show {
  margin-left: 30px;
}

#about-content {
  width: 70%;
  margin-left: 15%;
  font-weight: 300;
}

.year .schools {
	margin-top: -10px;
}

/*for ipad and ipad pro*/
@media screen and (max-width: 1150px) {
  #hello-name {
    font-size: 120px; 
   }

  #about-content {
	  width: 100%;
  	margin-left: 0;
  }

  .bio {
    padding: 30px 20px;
  }
}

/*for iphone 6 plus*/
@media screen and (max-width: 420px) {
  #hello-name {
    font-size: 36px; 
    margin-top: 45px;
  }

  .aboutimg {
    height: 140px;
  }

  .bio-img {
    height: 150px;
    overflow: hidden;
    z-index: 1;
  }

	.bio {
    font-size: 13px;
    margin:0;    
    overflow: hidden;
 	}

  .statement {
    letter-spacing: 1.5px;
    padding: 50px;
    font-weight: 300;
    line-height: 2;
    font-size: 23px;
  }

  .second-statement {
    letter-spacing: 1.2px;
    font-size: 14px;
    font-weight: 200;
    line-height: 2;
  }
  
	.year {
	  p {
	    font-size: 13px;
	  }
	}

	.section-text {
		width:100%;
	}

	.section-title {
		width: 100%;
		margin-bottom: 10px;
  	font-weight: 500;
	}

	.about-section {
		margin: 0;
	}

	#about-content {
 	  width: 90%;
    margin-left: 0;
    padding: 10px;
  }
}