.bio-img {
  img{
    height: 500px;
    z-index: 1;
  }
}

.bio-name {
  color: black;
  font-size:150px;
  z-index: 2;
  position: relative;
}

.bio-name-up {
  color: white;
  font-size:170px;
  z-index: 4;
  position: relative;
}

.bio-name-down {
  color: white;
  font-size: 170px;
  z-index: 5;
  position: relative;
}

#nihao {
  font-size: 150px;
  top: -430px;
}

#wo {
  left: 406px;
  top: -425px;
}

#shi {
  left: 583px;
  top: -620px;
}

#zhang {
  left: 765px;
  top: -813px;
}

#bi {
  left: 936px;
  top: -1009px;
}

#ying {
  left: 1116px;
  top: -1200px;
}

.about-page {
  .bio {
  	background-color:rgb(250,250,250); 
  	color: #202020; 
  	line-height: 2;
  	letter-spacing: 2.5px;
    font-family: 'Raleway', serif;
    width: 62%;
    margin: 20px auto;
    top:-1000px;
 }

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 30px;
}

.about-section {
  line-height:1.5;
  margin: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
  clear: both;
}

.section-title, .section-text {
  float: left;
}

.section-title {
  width: 30%;
}

.section-text {
  width: 70%;
  margin-top: -15px;
}

.show {
  margin-left: 30px;
}

#about-content {
  width: 70%;
  margin-left: 15%;
  font-weight: 300;
}

.year .schools {
	margin-top: -10px;
}

/*for ipad and ipad pro*/
@media screen and (max-width: 1100px) {
	#about-content {
	  width: 100%;
  	margin-left: 0;
  }
}
/*for iphone 6 plus*/
@media screen and (max-width: 420px) {
	.bio {
    font-size: 13px;
    margin:0;
	}

	.year {
	  p {
	    font-size: 13px;
	  }
	}

	.section-text {
		width:100%;
	}

	.section-title {
		width: 100%;
		margin-bottom: 10px;
  	font-weight: 500;
	}

	.about-section {
		margin: 0;
	}

	#about-content {
 	  width: 100%;
    margin-left: 0;
  }
}