a {
  /*background-color: rgba(246,246,246,1);*/
  color: deeppink;
}

#about-content {
  width: 70%;
  margin-left: 15%;
  font-weight: 300;
}

.about-section {
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 20px;
  clear: both;
}

.aboutimg {
  height: 580px;
  display: inline-block; 
  overflow: hidden;
}

/*.bio {
  padding: 30px 230px;
}*/

.bio-img {
  height: 100%;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  opacity: 0.55;
}

.bioimgbg, .bioimg {
  background: rgba(31, 30, 30, 1);
}

.bio-name-up-down {
  display: inline-block; 
}
 
.bio, .statement, .about-container {
  background: black;
  color: white;
  font-family: 'Raleway', sans-serif;    
  min-height: 100%;    
}

.chinese {
  font-family: NotoSans;
}

.CV-language {
  text-align: center;
  margin: 20px;
}

.double-width{
  width: 400px;
  height: 100%;
}

.english-cv, .chinese-cv {
  background-color: rgba(246,246,246,1);
}
 
@font-face {
  font-family: 'NotoSans';
  src: url('/assets/fonts/NotoSansDisplay-Light.ttf');
}

.full-width {
  width: 200px;
  height: 200px;
  overflow: auto;
}

.hello-there {
  font-family: 'Raleway', sans-serif;
  padding-top: 120px;
  font-size: 17px;
  color: white;
  z-index: 0;  
  position: absolute;
  /*left: 330px;*/
  left: 50%;
  margin-right: 25px;
}

.about-container{
  letter-spacing: 1px;

  .bio-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  #hello-name {
    text-shadow: 2px 2px 65px black;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    color:rgba(255,255,255,0.5);
    z-index: 5;    
    margin: 0 10%;
    .my-name {
      color: white;
    }
    .short-bio {
      margin: 3% 0;
    }
  }
}

.mat-radio-button {
  margin: 9px;
}

.statement {    
  padding-top: 3px;    
  padding-bottom: 10px;
  letter-spacing: 1.5px;
  font-weight: 300;
  line-height: 2;
  font-size: 16px;
}

.section-title {
  width: 30%;
}

.section-text {
  width: 100%;
  margin-top: -15px;
  padding:20px;
}

.show {
  margin-left: 30px;
}

.work {
  padding-top: 10px;
}

.year .schools {
	margin-top: -10px;
}

.skills {
  .skills-type {
    opacity: 0.4;
  }
}

.skills, .work {
  letter-spacing: 1.2px;
  line-height: 2;
  font-size: 16px;
  font-weight: 300;
  margin: 0 10%;
  h3 {
    font-weight: 500;
  }
}

@media screen and (min-width: 1300px) {  
  #hello-name, .skills, .work {
    font-size: 30px;
  }

  .aboutimg{
    height: 530px;
  }

  .hello-there {
    left: 46%;
  }
}

@media screen and (min-width: 1600px) {
  .aboutimg{
    height: 800px !important;
  }  

  #hello-name, .skills, .work {
    font-size: 30px;
  }
}

@media screen and (min-width: 2000px) {
  #hello-name {
    font-size: 60px;
  }

  .skills, .work {
    font-size: 40px;
  }
}

@media (max-width:2000px) and (min-width:1800px) {
  #hello-name {
    font-size: 50px;
  }

  .skills, .work {
    font-size: 40px;
  }
}

@media screen and (max-width: 1300px) {  
  #hello-name {
    font-size: 25px;
  }
}
/*for ipad and ipad pro*/

@media screen and (max-width: 1270px){
  .aboutimg {
    height: 580px;
  }
}

@media screen and (max-width: 1150px) {
  #about-content {
    margin-left: 0;
  }

  .bio-img {
    height: 100%;
  }
/*
  .bio {
    padding: 30px 20px;
  }
*/
  #hello-name {
    font-size: 30px;  
  }

  .aboutimg {
    height: 300px;
  }
}

@media screen and (max-width: 1130px){
  .aboutimg {
    height: 540px;
  }
}

@media screen and (max-width: 1030px){
  .aboutimg {
    height: 500px;
  }
}

@media screen and (max-width: 1000px){
  .aboutimg {
    height: 480px;
  }
}

@media screen and (max-width: 950px){
  .aboutimg {
    height: 447px;
  }
}

@media screen and (max-width: 900px){
  .aboutimg {
    height: 420px;
  }
}

@media screen and (max-width: 840px){
  .aboutimg {
    height: 400px;
  }

  #hello-name {
    font-size: 20px;  
  }
}

@media screen and (max-width: 816px){
  .aboutimg {
    height: 370px;
  }
}

@media screen and (max-width: 800px){
  .aboutimg {
    height: 350px;
  }  

  #hello-name, {
    font-size: 20px;  
  }
}

@media screen and (max-width: 750px){
  .aboutimg {
    height: 330px;
  }
}

@media screen and (max-width: 700px){
  .aboutimg {
    height: 310px;
  }
}

@media screen and (max-width: 620px) {
  .aboutimg {
    height: 280px;
  }

  .hello-there {
    font-size: 11px;
    padding: 95px 0 0 0;
    /*left: 173px;*/
  }  

  .statement {
    letter-spacing: 1.5px;
    font-weight: 300;
    line-height: 2;
    font-size: 17px;    
  }
}

@media screen and (max-width: 600px){
  .aboutimg {
    height: 255px;
  }
}

@media screen and (max-width: 560px){
  .aboutimg {
    height: 250px;
  }

  #hello-name, .skills, .work {
    font-size: 15px;  
  }
}

@media screen and (max-width: 520px){
  .aboutimg {
    height: 220px;
  }
}

@media screen and (max-width: 460px){
  .aboutimg {
    height: 180px;
  }

  #hello-name, .skills, .work {
    font-size: 10px;  
  }
} 

@media screen and (max-width: 420px) {
  .aboutimg {
    height: 160px;
  }

  .bio-img {
    width: 100% !important;
    overflow: hidden !important;
  }

/*  .bio {
    font-size: 13px;
    margin:0;    
    overflow: hidden;
  }*/

  .skills, .work {
    letter-spacing: 1.2px;
    font-size: 10px;
    line-height: 2;
  }
  
  .year {
    p {
      font-size: 10px;
    }
  }

  .section-text {
    width:100%;
    font-size: 10px;
  }

  .section-title {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .hello-there {
    padding: 50px 0 0 0;
    font-size: 10px;
    color: white;
    z-index: 0;  
    position: absolute;
    /*left: 110px;*/
 }

}

@media screen and (max-width: 384px){
  .aboutimg {
    height: 150px;
  }
}

@media screen and (max-width: 370px){
  .aboutimg {
    height: 140px;
  }
}

@media screen and (max-width: 340px){
  .aboutimg {
    height: 130px;
  }
}

@media screen and (max-width: 325px){
  .aboutimg {
    height: 110px;
  }

  .hello-there {    
    padding: 42px 0 0 0;
    font-size: 7px;
  }

  #hello-name, .skills {
    font-size: 9px;
  }
}

@media screen and (max-width: 270px){
  .aboutimg {
    width: 100%;
    height: 100%;
  }

  #hello-name, .skills {
    font-size: 7px;
  }
}

@media screen and (max-width: 220px){
  .hello-there {
    padding: 38px 0 0 0;
    font-size: 6px;
  }
}


