<!-- <section id="painting">
	<img class="painting-img" src="/assets/painting/Alienation_No.13.JPG">
	<img class="painting-img" src="/assets/painting/Alienation_No.9.JPG">
	<img class="painting-img" src="/assets/painting/Alienation_No.2.jpg">
	<img class="painting-img" src="/assets/painting/Firework_No.3.jpg">
</section>  -->

<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="5">
    <img class="painting-img" src="/assets/painting/Alienation_No.13.JPG">
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="3">
    <img class="painting-img" src="/assets/painting/Alienation_No.9.JPG">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="5">
    <img class="painting-img" src="/assets/painting/Alienation_No.2.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="3">
    <img class="painting-img" src="/assets/painting/Alienation_No.3.jpg">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="3">
    <img class="painting-img" src="/assets/painting/Alienation_No.13.JPG">
  </mat-grid-tile>


</mat-grid-list>
