<div id="alienation-painting">
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="openDialog('Alienation_No.3.jpg')" matTooltip="Alienation_No.3" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.3.jpg">
    </mat-grid-tile>


    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="openDialog('Alienation_No.1.jpg')" (click)="paintingActive()" matTooltip="Alienation_No.1" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.1.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.10" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.10.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.11" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.11.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.12" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.12.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.15" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.15.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.17" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.17.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.16" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.16.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.20" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.20.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.21" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.21.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.22" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.22.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.23" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.23.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.24" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.24.jpg">
    </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.26" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.26.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.30" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.30.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.31" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.31.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation_No.34" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.34.jpg">
    </mat-grid-tile>
  </mat-grid-list>

</div>
  
<div id="bed-painting">
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="5">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation No.13" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.13.JPG">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Alienation No.9" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.9.JPG">
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="5">
      <img matTooltip="Alienation No.2" matTooltipPosition="above" class="painting-img" src="/assets/painting/Alienation_No.2.jpg">
    </mat-grid-tile> 

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Firework_No.1" matTooltipPosition="above" class="painting-img" src="/assets/painting/Firework_No.1.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Firework_No.2" matTooltipPosition="above" class="painting-img" src="/assets/painting/Firework_No.2.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Firework_No.4" matTooltipPosition="above" class="painting-img" src="/assets/painting/Firework_No.4.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="4">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Big Tunnel" matTooltipPosition="above" class="painting-img" src="/assets/painting/bigtunnel.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltipPosition="above" class="painting-img" src="/assets/painting/tunnel.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Eye" matTooltipPosition="above" class="painting-img" src="/assets/painting/eye.JPG">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="5">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="White Bed" matTooltipPosition="above" class="painting-img" src="/assets/painting/whitebed.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Head" matTooltipPosition="above" class="painting-img" src="/assets/painting/head.JPG">
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="4">
      <img  [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="The Biggest Blue" matTooltipPosition="above" class="painting-img" src="/assets/painting/thebiggestblue.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <img  [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Smoke" matTooltipPosition="above" class="painting-img" src="/assets/painting/smoke.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Sick" matTooltipPosition="above" class="painting-img" src="/assets/painting/sick.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="The Harder You Fall" matTooltipPosition="above" class="painting-img" src="/assets/painting/theharderyoufall.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Big Dream" matTooltipPosition="above" class="painting-img" src="/assets/painting/bigdream.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="Firework_No.3" matTooltipPosition="above" class="painting-img" src="/assets/painting/Firework_No.3.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="face" matTooltipPosition="above" class="painting-img" src="/assets/painting/face.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="light" matTooltipPosition="above" class="painting-img" src="/assets/painting/light.jpg">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="3">
      <img [@paintingflyInOut]='paintingState' (click)="paintingActive()" matTooltip="chandeliers" matTooltipPosition="above" class="painting-img" src="/assets/painting/chandeliers.jpg">
    </mat-grid-tile>

  </mat-grid-list>
</div>
