<!-- <canvas id="canvas1" data-processing-sources="/assets/processing/contact-page2.pde"></canvas> -->
<img class="contact-img" src="/assets/design/circle_no.2.png"> 

<div class="contacts">
	<strong [@emailAnimation]='emailState' (click)="emailActive()" class="email">abbyzhangca@gmail.com</strong>
 
	<a target="_blank" href="https://www.linkedin.com/in/abbybzhang/" class="linkedin">
		<img src="/assets/design/if_linkedin_circle_color_107178.png" alt="HTML5">
	</a>
 
	<a target="_blank" href="https://github.com/AbbyBiying" class="github">
		<img src="/assets/design/GitHub-Mark-120px-plus.png" alt="HTML5">
	</a>
</div>
 