<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="4" rowspan="4">
    <img
      matTooltip="stillimage1"
      matTooltipPosition="above"
      class="painting-img"
      src="/assets/video/stillimage1.jpg"
    />
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <img
      matTooltip="stillimage2"
      matTooltipPosition="above"
      class="painting-img"
      src="/assets/video/stillimage2.jpg"
    />
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <img
      matTooltip="stillimage3"
      matTooltipPosition="above"
      class="painting-img"
      src="/assets/video/stillimage3.jpg"
    />
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <img
      matTooltip="stillimage4"
      matTooltipPosition="above"
      class="painting-img"
      src="/assets/video/stillimage4.jpg"
    />
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <img
      matTooltip="stillimage5"
      matTooltipPosition="above"
      class="painting-img"
      src="/assets/video/stillimage5.jpg"
    />
  </mat-grid-tile>
</mat-grid-list>
