<div id="art-select">
	<mat-form-field>
	  <mat-select #artType placeholder="art">
	    <mat-option [artHighlight]="color" defaultColor="gold" value="Painting">
	    	Painting
	    </mat-option>
	    <mat-option [artHighlight]="color" defaultColor="gold" value="Ceramic">
	    	Ceramic
	    </mat-option>
	    <mat-option [artHighlight]="color" defaultColor="gold" value="Video">
	    	Video
	    </mat-option>
	  </mat-select>
	</mat-form-field>
</div> 
<app-painting *ngIf="artType.value == 'Painting'"></app-painting>
<app-ceramic *ngIf="artType.value == 'Ceramic'"></app-ceramic>
<app-video *ngIf="artType.value == 'Video'"></app-video>
 
  
<art-list-animation></art-list-animation>  
<!-- <div id="portfolio-menu">
	<ul>
		<li><a routerLink="/portfolio/painting" routerLinkActive="active" [artHighlight]="color" defaultColor="gold">Painting</a></li>
		<li><a routerLink="/portfolio/ceramic" routerLinkActive="active" [artHighlight]="color" defaultColor="gold">Ceramic</a></li>
		<li><a routerLink="/portfolio/video" routerLinkActive="active" [artHighlight]="color" defaultColor="gold">Video</a></li>
	</ul>
</div> -->

