#art-select {
  text-align: center;
  //padding: 35px;
  margin-top: 100px;
}

a[artHighlight]:active {
  background-color: green;
}

.artwork-table {
  text-align: center;
  margin: 20px;
}

@font-face {
  font-family: "NotoSans";
  src: url("/assets/fonts/NotoSansDisplay-Light.ttf");
  /*src: url('/assets/fonts/SourceHanSerifSC-ExtraLight.otf');*/
}

.chinese {
  font-family: NotoSans;
}

.chinese-statement {
  width: 60%;
  margin: 30px auto;
  /*padding: 5px 150px 10px 150px;*/
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 16px;
}

.statement {
  margin: 0 auto;
  margin-top: -160px;
  width: 50%;
  /*margin-top: -270px;*/
  /*padding: 35px; */
  color: white;
  font-family: "Raleway", sans-serif;
}

.logo {
  width: 100%;
}

#portfolio-menu {
  margin-left: 10px;
  a {
    color: rgba(0, 0, 0, 0.87);
  }
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 33%;

  li {
    list-style-type: none;
    cursor: pointer;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 3.5px;
  }
}

#portfolio-container {
  margin: 40px 0;
  padding: 10px 5%;
  /*position: absolute;*/
  width: 90%;
}

/*p {
  color: white;
  width:200px;
  background:lightgray;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
} */

.portfolio-img {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

.web-app-group {
  .title {
    text-align: center;
  }
}

.apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10%;

  .app-title {
    margin: 0 5%;
    width: 100%;
  }
}

img.web-img {
  // .imgBox { /* now a container for the image */
  // overflow: hidden; /* hide the excess */
  flex: 0 0 auto;
  margin: 2% auto;
  // }
  width: 400px;
  height: 800px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

img.web-img-ET {
  margin: 2% auto;
  width: 80%;
  height: 80%;
}

.form,
.mat-form-field {
  text-align: center;
  width: 220px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .art-statement {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .art-statement {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .statement {
    color: black;
    margin-top: 0;
  }

  .art-statement {
    text-shadow: none;
    opacity: 0.7;
  }

  .apps {
    .app-title {
      margin: 0 10%;
    }
    img.web-img {
      flex: 0 0 auto;
      margin: 2% auto;
      width: 80%;
      height: 80%;
    }
  }
}

@media screen and (max-width: 420px) {
  #art-select {
    top: 30px;
    left: 35px;
  }

  .art-statement {
    text-shadow: none;
  }
}

@media screen and (max-width: 320px) {
  #art-select {
    top: 30px;
    left: 35px;
  }

  .art-statement {
    font-size: 9px;
  }
}
