<div id="art-select">
	<mat-form-field>
	  <mat-select (change)="openLink()" #artType placeholder="art">
	    <mat-option [artHighlight]="color" defaultColor="gold" value="Painting">
	    	Painting
	    </mat-option>
	    <mat-option [artHighlight]="color" defaultColor="gold" value="Ceramic">
	    	Ceramic
	    </mat-option>
	    <mat-option [artHighlight]="color" defaultColor="gold" value="Video">
	    	Video
	    </mat-option>
	  </mat-select>
	</mat-form-field> 
 
	<mat-form-field>
	  <mat-select (change)="openLink()" #codeType placeholder="code" 
	  [(ngModel)]="selectedCodeValue">
	    <mat-option [artHighlight]="color" defaultColor="gold" value="ABZ-EXCHANGE">
	    	ABZ-EXCHANGE
	    </mat-option>
	    <mat-option [artHighlight]="color" defaultColor="gold" value="PAIRING">
	    	Pairing
	    </mat-option>
	    <mat-option [artHighlight]="color" defaultColor="gold" value="BIYING-ART">
	    	Biying-Art
	    </mat-option>
	  </mat-select>
	</mat-form-field>
</div> 


<app-painting *ngIf="artType.value == 'Painting'"></app-painting>
<app-ceramic *ngIf="artType.value == 'Ceramic'"></app-ceramic>
<app-video *ngIf="artType.value == 'Video'"></app-video>

<!-- <div>	
	<img class="portfolio-img" src="../assets/painting/exhibitionno1.jpg">
</div> -->