/*#art-select {
	top: 300px;
	
	position: absolute;
	color: white;
	z-index: 999;
	padding: 50px;
	display: inline-block;
	left:100px;
}
 */

#art-select {
	text-align: center; 
	padding: 35px;
}

a[artHighlight]:active {
	background-color: green;
}

#portfolio-menu {
	margin-left: 10px;
	a {
		color: rgba(0, 0, 0, 0.87);
  }
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 33%;

  li {
  	list-style-type: none;
  	cursor: pointer;	
  	font-size: 24px;
	  font-family: 'Raleway', sans-serif;
	  margin-bottom: 30px;
	  font-weight: 300;
	  letter-spacing: 3.5px;
  }
}

#portfolio-container {
	margin: 40px 0; 
	padding: 10px 5%;
	/*position: absolute;*/
	width: 90%;
}

p {
  color:white;
  width:200px;
  background:lightgray;
  margin: 100px auto;
  text-align:center;
  padding:20px;
  font-size:1.5em;
} 

.portfolio-img {
	position:absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

@media screen and (max-width: 420px) {
	#art-select {
		top: 30px;
	 
		left:35px;
	}
}