<div class="header-button-container" [hidden]="sidenav.opened">
  <button md-button class="header-burger example-fab" (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
</div>

<md-sidenav-container class="container">

  <md-sidenav #sidenav class="sidenav">
    <button md-button class="close-button" (click)="sidenav.toggle()">
      <md-icon>clear</md-icon>
    </button>
    <ul class="menu-button">

      <li><button md-button routerLink="/portfolio" routerLinkActive="active" (click)="sidenav.toggle()">Portfolio</button></li>
      <li><button md-button routerLink="/about" routerLinkActive="active" (click)="sidenav.toggle()">About</button></li>
      <!-- <li><button md-button (click)="sidenav.toggle()">Exhibition</button></li> -->
      <li><button md-button routerLink="/contact" routerLinkActive="active" (click)="sidenav.toggle()">Contact</button></li>
    </ul>
  </md-sidenav>

  <router-outlet></router-outlet>
</md-sidenav-container>

<footer>
  <div class="footer-section">
    <p class="update">Want to get updates on my news?</p>
    <p class="copy-right">© 2017 Biying Zhang</p>
  </div>
</footer>
