@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
a {
  text-decoration: none;
}

.mat-dialog-container {
  margin: 0 auto !important;
}

.mat-drawer-content {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}